# Pandas Nedir?  
Açık kaynaklı ve yüksek performanslı bir veri analizi kütüphanesidir. Adını "Panel Data" dan almıştır. Özellikle tablo şeklindeki verilerle çalışmayı kolaylaştırır.   
Pandası anlamak için iki temel veri yapısını açıklayalım:  
**-Series (Seriler):** Tek boyutlu etiketli bir dizidir.Basit bir liste veya bir sütun gibi düşünülebilir. Her bir veriye özel bir "indeks" etiketi atanır ve verilere hızlıca erişlebilir.  
**-DataFrame (Veri Çerçeveleri):** İki boyutlu, etiketli bir veri yapısıdır.Satır ve sütunlardan oluşan bir tablo olarak düşünülebilir. Her bir sütun aslında bir "Series" objesidir. Excel'deki bir sayfaya veya bir SQL tablosuna çok benzer. Veri setlerinin büyük çoğunluğu bu formatta tutulur ve analiz edilir.  
Özet mantık: elimizdeki karmaşık veri setini üzerinde işlem yapılabilecek düzenli bir tablo(DateFrame) haline getirmek ve bu tablonun sütunları(series) veya satırları üzerinde analizler yapmaktır.  
Pandas veri okuma yazma temizleme ön işleme birleştirme ve analiz etme gibi işlemler için kullanılır.

**Pandas Nedir?**  
Pandas açık kaynaklı ve ücretsiz veri(bilgi) işleme, manipüle etme, temizleme vb. işlemleri yapabileceğimiz oldukça efektif kütüphanedir.  
Pandas kütüphanesi NumPy kütüp üzerine kurulmus bir kütüphanedir.  
PAndan elimizdeki veriyi(bilgiyi) şekillendirip işlememize ve veriden anlamlı sonuçlar çıkarmamıza olanak sağlar.  
Pandas kütüphanesinin temel elemanları Series ve DataFramedir.Bu nesneleri excel tabloları gibi düşünebiliriz.

**Pandas'ı Import Etme**

In [ ]:
# !pip install pandas

Requirement already satisfied: pandas in c:\users\sudem\desktop\yeni klasör\.venv\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sudem\desktop\yeni klasör\.venv\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sudem\desktop\yeni klasör\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sudem\desktop\yeni klasör\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sudem\desktop\yeni klasör\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\sudem\desktop\yeni klasör\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

**Series Oluşturma**

In [5]:
import pandas as pd

In [ ]:
my_data = ['Emircan', 'Alper', 'Burak', 'Dilara', 'Zeynep']
my_data
# pd.Series() fonksiyonu ile elimizdeki verileri Series haline getirebiliriz.
pd.Series(my_data)

0    Emircan
1      Alper
2      Burak
dtype: object

In [21]:
my_data = [1923, 1776, 1876]
my_idx = ['Türkiye', 'USA', 'Canada']
pd.Series(my_data, my_idx)

Türkiye    1923
USA        1776
Canada     1876
dtype: int64

In [ ]:
pd.Series(data= my_data, index= my_idx) #, dtype=float) gibi belirleyebilriz

Türkiye    1923
USA        1776
Canada     1876
dtype: int64

In [25]:
#pd.Series() fonk içerisine dictionary de alabilir. Dictionary'nin keyleri index, valueları değer olur.
my_dict = {
    'Emincan' : 26,
    'Kaan' : 23,
    'Ayse' : 21,
    'Deniz' : 29
    }
my_dict
pd.Series(data = my_dict)

Emincan    26
Kaan       23
Ayse       21
Deniz      29
dtype: int64

In [29]:
#SORU:.... şeklinde seri oluşturun. Hem liste hem dict ile
sehirler = ['İstanbul', 'İzmir', 'Ankara', 'Bursa']
sayi = [15.4, 4.3, 5.6, 3]
print(pd.Series(sayi, sehirler))
my_dict = {
    'İstanbul' : 15.4,
    'İzmir' : 4.3, 
    'Ankara' : 5.6,
    'Bursa' : 3
}
pd.Series(data = my_dict)

İstanbul    15.4
İzmir        4.3
Ankara       5.6
Bursa        3.0
dtype: float64

İstanbul    15.4
İzmir        4.3
Ankara       5.6
Bursa        3.0
dtype: float64

**Serilerde İşlemler**

In [40]:
q1 = {'Japan': 80, 'China': 450, 'Turkiye': 150, 'Indıa': 200}
q2 = {'Japan': 90, 'China': 420, 'Turkiye': 230, 'Indıa': 195}
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)
print(sales_q1)
print('///////////////')
print(sales_q2)
#iki tarafta da aynı sayıda veri olduğu için işlemler yapabilriz
print('islem sonucu: ')
sales_q1 - sales_q2  #işlemler yapılabilir

Japan       80
China      450
Turkiye    150
Indıa      200
dtype: int64
///////////////
Japan       90
China      420
Turkiye    230
Indıa      195
dtype: int64
islem sonucu:

Japan     -10
China      30
Turkiye   -80
Indıa       5
dtype: int64

In [ ]:
sales_total = sales_q1 + sales_q2
print(sales_total)
sales_total.index   #indexleri çektik

Japan      170
China      870
Turkiye    380
Indıa      395
dtype: int64

Index(['Japan', 'China', 'Turkiye', 'Indıa'], dtype='object')

In [ ]:
print(sales_total.keys()) #keys() metodu ile de indexlerine bakabiliriz
sales_total.values        # .values attribute ı ile serimizin değerlerine bakabiliriz

Index(['Japan', 'China', 'Turkiye', 'Indıa'], dtype='object')

array([170, 870, 380, 395])

In [ ]:
sales_total * 2 #şeklinde her birinin 2 katını alabilir. klasik işlemler yapılabilir.

Japan       340
China      1740
Turkiye     760
Indıa       790
dtype: int64

In [61]:
q1 = {'Japan': 80, 'China': 450, 'Indıa': 150, 'USA': 200}
q2 = {'Brazil': 90, 'Indıa': 420, 'China': 230, 'USA': 195}

In [59]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)
print(sales_q1)
print("/////////////")
print(sales_q2)

Japan     80
China    450
Indıa    150
USA      200
dtype: int64
/////////////
Brazil     90
China     420
Indıa     230
USA       195
dtype: int64

In [ ]:
sales_q1 + sales_q2  #farklı bilinmeyen bir şey olduğunda hata vermedi ama Nan döndürür

Brazil      NaN
China     870.0
Indıa     380.0
Japan       NaN
USA       395.0
dtype: float64

In [ ]:
sales_q1.add(sales_q2, fill_value = 0) #bilinmeyenleri 0 yaptık

Brazil     90.0
China     870.0
Indıa     380.0
Japan      80.0
USA       395.0
dtype: float64

In [ ]:
sales_q1.dtype #.dtype attribute ı ile serinin içindeki verilerin tipini çekebiliriz.

dtype('int64')

In [69]:
#SORU: serileri oluştur 4 takımın 3 yılda topladığı toplam puanları karşılaştırabileceimiz yeni bir seri oluşturun
league_2022 = {'Fenerbahçe': 51, 'Galatasaray': 60, 'Besiktas': 48, 'Trabzon': 41}
league_2021 = {'Fenerbahçe': 73, 'Galatasaray': 68, 'Besiktas': 59, 'Trabzon': 81}
league_2020 = {'Fenerbahçe': 82, 'Galatasaray': 84, 'Besiktas': 84, 'Trabzon': 71}
seri_22 = pd.Series(league_2022)
seri_21 = pd.Series(league_2021)
seri_20 = pd.Series(league_2020)
toplam_puan = seri_20+seri_21+seri_22
toplam_puan

Fenerbahçe     206
Galatasaray    212
Besiktas       191
Trabzon        193
dtype: int64